@font-face {
  font-family: 'SuisseIntl-Book-WebS';
  src: url('/fonts/SuisseIntl-Book-WebS.eot'); /* IE9 Compat Modes */
  src: url('/fonts/SuisseIntl-Book-WebS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/SuisseIntl-Book-WebS.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/SuisseIntl-Book-WebS.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/SuisseIntl-Book-WebS.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/SuisseIntl-Book-WebS.svg#svgFontName') format('svg'); /* Legacy iOS */
}