.project {
  display: none;
  opacity: 0.0;

  background: $white;

  min-height: 85vh;
  height: 100%;
  padding-top: 15vh;

  position: relative;
  z-index: 10;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;

  @media (max-width: 800px) {
    padding-top: 20vh;
    min-height: 80vh;
  }

  @media (max-width: 800px) and (max-height: 420px) {
    padding-top: 30vh;
    min-height: 70vh;
  }

  @media (max-width: 400px) {
    padding-top: 25vh;
    min-height: 75vh;
  }

  &.current-active-project {
    z-index: 20;
  }

  .animate-this, {
    opacity: 0.0;
  }

  .project-header {
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

    position: relative;
  }

  .project-header-full-screen {
    height: 85vh;
    min-height: 800px;
    padding-bottom: 10%;

    @media (max-width: 640px) {
      padding-bottom: 0;
    }
  }

  .project-row {
    margin-bottom: 20px;
    @include clearfix();
  }

  .project-header-image-holder {
    position: relative;
    z-index: 1;

    margin-left: 30px;
    margin-right: 30px;

    @include clearfix();
    background: $black;

    min-height: 350px;
    width: 100%;

    @media (max-width: 800px) {
      min-height: 150px;
    }
  }

  .project-header-image-frame {
    position: relative;
    z-index: 1;

    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .project-header-image {
    z-index: 0;

    width: 100%;
    display: block;

    margin: 0 auto;

    opacity: 0.0;
  }

  .preloader {
    background: url(/images/ball.gif) no-repeat center center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;

    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    margin: 0 auto;

    @media (max-width: 800px) {
      width: 15px;
      height: 15px;

      background-size: 15px 15px;
    }
  }

  .project-header-image-full-screen {
    height: 85vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  .project-details {
    width: 66%;

    padding-top: 5%;
    padding-bottom: 5%;

    @media (max-width: 800px) {
      width: 100%;
      padding-top: 10%;
    }

    a {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  .proj-detail-col {
    float: left;

    width: 80%;

    &:first-of-type {
      width: 20%;
    }
  }

  .project-column {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;

    max-width: 728px;
  }

  .project-detail-heading {
    font-size: 24px;
    color: $black;

    margin: 0 0 10px 0;
    letter-spacing: .25px;
  }

  .project-detail-body {
    font-size: 14px;
    color: $black;

    margin: 0 0 30px 0;

    p {
      margin: 0 0 10px 0;
      padding: 0;

      letter-spacing: 0;

    }
  }

  .project-tech-detail,
  .project-detail-link {
    font-size: 14px;
    color: $black;

    margin-right: 15px;

    letter-spacing: 0;

    position: relative;

    .next-button {
      position: absolute;
      right: 0;
      top: -2px;

      width: 20px;
      height: 20px;

      transition: transform 50ms ease-in;
    }

    &:hover {
      .next-button {
        transform: translateX(5px);
      }
    }
  }

  .next-project-link {
    padding-right: 25px;
    margin-right: 0;
  }

  .project-detail-body-heading {
    display: block;
    margin: 0;

    font-size: 14px;
    font-weight: normal;

    opacity: 0.6;
  }
}